<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="$hide()"> &times;</button>
                <h4 class="modal-title" translate>activity.modal.title</h4>
            </div>
            <form role="form" id="add-activity" name="activityForm">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="activity-title" translate>activity.title</label>
                        <input type="text"
                               class="form-control"
                               id="activity-title"
                               ng-model="activity.title"
                               required>
                    </div>

                    <div class="form-group">
                        <label for="activity-status" translate>activity.status.status</label>
                        <select
                                class="form-control"
                                id="activity-status"
                                ng-model="activity.status"
                                required>
                            <option ng-selected="true" value="{{statuses.new}}" translate>activity.status.new</option>
                            <option value="{{statuses.done}}" translate>activity.status.done</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="activity-date" translate>activity.date</label>
                        <input
                                type="date"
                                class="form-control"
                                id="activity-date"
                                ng-model="activity.date"
                                required>
                    </div>
                    
                <div class="modal-footer">
                    <button type="submit"
                            class="btn btn-success"
                            ng-click="addActivity()"
                            ng-disabled="!activityForm.$valid" translate>button.save
                    </button>
                    <button type="button"
                            class="btn btn-danger"
                            ng-click="$hide()" translate>button.cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>