<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="$hide()"> &times;</button>
                <h4 class="modal-title" translate>mission.roleModalTitle</h4>
            </div>
            <form role="form" id="add-role" name="roleForm">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="role-name" translate>role.name</label>
                        <input type="text"
                               class="form-control"
                               id="role-name"
                               ng-model="role.name"
                               required>
                    </div>

                    <div class="form-group">
                        <label for="role-statement" translate>role.statement</label>
                        <textarea
                                class="form-control"
                                id="role-statement"
                                rows="5"
                                ng-model="role.statement"
                                required>
                            </textarea>
                    </div>
                    
                <div class="modal-footer">
                    <button type="submit"
                            class="btn btn-success"
                            ng-click="addRole()"
                            ng-disabled="!roleForm.$valid" translate>button.save
                    </button>
                    <button type="button"
                            class="btn btn-danger"
                            ng-click="$hide()" translate>button.cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>