<div>
    <div class="panel">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th translate>goal.name</th>
                <th translate>goal.priority</th>
                <th translate>goal.status.status</th>
                <th translate>goal.date</th>
                <th>
                    <div class="btn-group" role="group">
                        <a role="button"
                           class="btn btn-sm btn-success"
                           ng-if="enableAdd"
                           ng-href="#/goal/create">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
                <tr ng-if="!goals.length" class="text-center">
                    <td colspan="5" translate>{{noGoalsText}}</td>
                </tr>
                <tr ng-repeat="goal in goals | orderBy:'date' track by goal.id">
                    <td class="col-xs-1">{{goal.id}}</td>
                    <td class="col-xs-5" role="button" ng-click="viewGoal(goal)">{{goal.name}}</td>
                    <td class="col-xs-1">
                        {{goal.priority}}
                    </td>
                    <td class="col-xs-2">
                        {{statuses[goal.status]}}
                    </td>
                    <td class="col-xs-3">
                        {{goal.date|date}}
                    </td>
                    <td class="col-xs-1">
                        <div class="btn-group pull-right" role="group">
                            <a class="btn btn-sm btn-default" role="button" ng-click="removeGoal(goal)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
