<div>
    <lp-activity-table
            title="{{'home.activities.prevWeek'|translate}}"
            condition="prevWeek.isWithin"></lp-activity-table>
    <lp-activity-table
            title="{{'home.activities.thisWeek'|translate}}"
            condition="thisWeek.isWithin"></lp-activity-table>
    <lp-activity-table
            title="{{'home.activities.nextWeek'|translate}}"
            condition="nextWeek.isWithin"></lp-activity-table>
    <lp-activity-table
            title="{{'home.activities.afterNextWeek'|translate}}"
            condition="afterNextWeek.isWithin"></lp-activity-table>
</div>